:root {
	--font-family: 'Smooch Sans', sans-serif;
	--background-color: #293241;
	--color1: black;
	--color2: #f6f6f6;
	--color3: white;
	--color4:  #ee6c4d;
	--color5: #e6e4e4;
  }

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
  	font-family: var(--font-family);
  }  

.top-panel {
	color: var(--color3);
	background-color:var(--color4);
	font-size: 24px;
	font-weight: 600;
	list-style: none;
    margin: auto;
	margin-top: 40px;
    padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.container-header ul li {
	background-color: var(--color4);
	display: grid;
    grid-template-columns: auto;
	width: 100%;
}

.top-panel li:first-child {
	padding-right: 30px;
  }

  .top-panel li:nth-child(2) {
	font-size: 36px;
  }

h3 {
	background-color: var(--color2);
	font-size: 14px;
	padding-bottom: 10px;
}

.container {
	background-color: var(--color2);
	padding: 20px;
	width: 350px;
	height: fit-content;
	margin: auto;
}

form {
	background-color: var(--color2);
	text-align: center;
}

input{
	background-color: var(--color3);
	font-size: 22px;
	width: 300px;
	padding: auto;
	border-radius: 5px;
}

#button{
	display: block;
	font-size: 24px;
	background-color: var(--background-color);
	color:var(--color3);
	border-radius: 5px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 120px;
	padding: 5px;
}

#button:hover{
	cursor: pointer;
	background-color: #ee6c4d;
}

ol li {
	background-color: var(--color2);
	position: relative;
	padding: 10px;
	font-size: 24px;
}

ol {
	background-color: var(--color2);
	padding-left: 20px;
}

ol li:nth-child(even) {background: var(--color5);}

.strike{text-decoration: line-through;}

.btn {
	background-color: var(--background-color);
	color: var(--color3);
	float: right;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

#btn:hover{	cursor: pointer;}

footer {
	color: var(--color3);
	background-color:var(--color4);
	font-size: 14px;
	margin: auto;
	width: 390px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.footer-icon {
	width: 30px;
	height: 30px;
}