:root {
	--background-color: #293241;
	--color1: black;
	--color2: #f6f6f6;
	--color3: white;
	--color4:  #ee6c4d;
	--color5: #e6e4e4;
  }

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
  	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  }  

.top-panel {
	color: var(--color3);
	background-color:var(--color4);
	font-size: 24px;
	font-weight: 600;
	list-style: none;
    margin: auto;
	margin-top: 30px;
    padding-top: 15px;
	padding-bottom: 15px;
	width: 380px;
	display: flex;
	justify-content: space-between;
}

#current-time {
	float: right;
	margin-right: 40px;
}

h1 {
	text-align: center;
	margin-top: 5px;
}

h3 {
	background-color: var(--color2);
	font-size: 14px;
	padding-bottom: 10px;
	text-align: center;
}

.container {
	background-color: var(--color2);
	padding: 20px;
	width: 380px;
	height: fit-content;
	margin: auto;
}

form {
	background-color: var(--color2);
	text-align: center;
}

input{
	background-color: var(--color3);
	font-size: 24px;
	width: 300px;
	padding: auto;
	border-radius: 5px;
}

#button-add {
	display: block;
	font-size: 24px;
	background-color: var(--background-color);
	color:var(--color3);
	border-radius: 5px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 120px;
	padding: 5px;
}

#button-add:hover {
	cursor: pointer;
	background-color: var(--color4);
}

ol li {
	background-color: var(--color2);
	position: relative;
	padding: 15px;
	font-size: 20px;
}

ol li:hover {
	background-color: var(--color4);
	color: var(--color1);
	cursor: pointer;
}

ol {
	padding-left: 0;
	margin: 0;
	list-style-position: inside;
	background-color: var(--color2);
}

.strike{text-decoration: line-through;}

button {
	background-color: var(--color2);
    border: none;
    outline: none;
	float: right;
	border-radius: 10%;
}

.remove-task, .remove-task-local {
	background-color: var(--color2);
	color: var(--color1);
	border: none;
	padding: 5px;
	cursor: pointer;
	float: right;
}
  
#btn:hover{	cursor: pointer;}

footer {
	color: var(--color3);
	background-color:var(--color4);
	font-size: 14px;
	margin: auto;
	width: 420px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.footer-icon {
	width: 30px;
	height: 30px;
}