
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif ;
background: white;
}

.container{
background: linear-gradient(40deg, rgb(237, 146, 146), rgb(215, 157, 157), rgb(235, 235, 158), rgb(175, 228, 175), rgb(159, 159, 212), rgb(9, 199, 205));
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 60px 4px 5px;
}

#button{
display: inline-block;
background-color:#9e3355;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: white;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	float: right;
	color:black;
	font-family: 'Franklin Gothic Medium', Arial, sans-serif;
	font-weight: 800;
}